{% extends 'dashboard/admin/index.html' %}

{%load static%}


{% block body %}
<script src="https://cdn.jsdelivr.net/gh/js-cookie/js-cookie@1.5.1/src/js.cookie.js"></script> 
<script src="https://cdn.jsdelivr.net/gh/bfontaine/jquery-djangocsrf@0.1.1/jquery.djangocsrf.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>  

<div class="pcoded-content  ">
    <div class="pcoded-inner-content ">

        <!-- Main-body start -->
        <div class="main-body ">
            <div class="page-wrapper ">
            <!-- Page-header start -->
                <div class="page-body">

                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Typography card start -->
                            <div class="card">
                                <div class="card-header">

                                <div class="card-header-right">   
                                 <i class="icofont icofont-spinner-alt-5"></i>                                                         </div>
                                </div>
                                <div class="card-block typography">
                                    <div class="row">
                                        <div class="col-sm-12 col-xl-10">


 <style>
         .margin{
              margin-left: 80px;
            }

        
 </style> 

  <div class="border border-light p-3 mb-4">

     
  <div class="text-center" id="city_btn">
      <button type="button" class="btn btn-primary btn-lg btn-block">Add City</button>
    </div>
      

  </div>
  

  <br><br>
  <div class="border border-light p-3 mb-4">


    <div class="text-center" id="area_btn">
      <button type="button" class="btn btn-primary btn-lg btn-block">Add Area</button>
    </div>

  </div>
 
  <br><br>

    <div class="border border-light p-3 mb-4">


    <div class="text-center" id="sub_area_btn">
      <button type="button" class="btn btn-primary btn-lg btn-block">Add sub Aera</button>
    </div>

  </div>





<form method="POST" id="add_data">
  <div class="form-group">
    <label for="usr">City</label>
     <input type="text" class="form-control"  name="city" id="usr">
  </div>
  <br>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>



<form method="POST" id="add_data2">



 <label for="cars">Select City From There </label><br>
  <select name="city_id" class="form-control" style="height:35px;" id="cars">
  {% for data in city %}
    <option value="{{data.id}}">{{data.city_name}}</option>
  {% endfor %}
  </select>

  


<br><br><br>


  <div class="form-group">
    <label for="usr">Area</label>
    <input type="text" class="form-control" name="area" id="usr">
  </div>

  <br>
  <div class="form-group">
       <button type="submit" class="btn btn-primary">Add</button>    
  
  </div>
  </form>



<form  method="POST" id="add_data3">
 <label for="cars">Select Area From There </label><br>
<select name="sub_area_id" class="form-control" style="height:35px;" id="cars">
  {% for data in area %}
    <option value="{{data.id}}">{{data.area_name}}</option>
  {% endfor %}
 </select>

    <div class="form-group">
    <label for="usr">Sub Area</label>
    <input type="text" class="form-control"  name="subarea" id="usr">
  </div>

   <div class="form-group">
       <button type="submit" class="btn btn-primary">Add</button>    
  
  </div>

</form>


<button type="button" hidden id="success" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
</button>
<div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered bg-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="exampleModalLongTitle">Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-primary" id="show_massage" >
      
      </div>
      
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h3>See City</h3>
       <div class="form-group">
        <select multiple  class="form-control" id="city_id" name="city_name"   style="width:250px; height:400px;">
          {% for data  in city  %}
          <option value="{{data.city_name}}" data-id="{{data.id}}" >{{data.city_name}}</option>
          {% endfor %}
        </select>
      </div>

    </div>
    
    <div class="col-sm-3">
      <h3>See Area</h3>
      <div class="form-group">
        <select multiple class="form-control" id="area_id" name="area_name"   style="width:250px; height:400px;"  >   
     
        </select>
      </div>
    </div>

    <script>

      $(document).ready(function(){
           
        $.djangocsrf( "enable" );
          
        $("#city_id").change(function(){
      
        
           var control = $(this);
           var id = control.find(":selected").data("id");
            var area = "";
           $.ajax({
          
            url:"{% url 'fetch_area' %}",
            method:"POST",
            data:{id:id},
            success:function(data)
            {  
            
                $("#area_id").html("");
                 for(i=0;i<data.fetch_area.length;i++)
                  {
                     var   [name,id] = data.fetch_area[i];
                      area += "<option value='"+name+"' data-id='"+id+"'>"+name+"</option>";      
                      
                
                  } 
             
                  console.log(area);
              
             
                 $("#area_id").html(area);  
                 $('#area_id').selectpicker('refresh');  
                 
              }
           
           });
           
           
         });
      
      
      
      });
      
      
      
      </script>
  
    <div class="col-sm-3">
   <h3>See SubArea</h3>
        <div class="form-group">
          <select multiple class="form-control"  style="width:250px; height:400px;" id="subarea_id">
          
          </select>
      
          <script>

            $(document).ready(function(){
                 
              $.djangocsrf( "enable" );
                
              $("#area_id").change(function(){
            
              
                 var control = $(this);
                 var id = control.find(":selected").data("id");
                   var subarea = "";
                 $.ajax({
                
                  url:"{% url 'fetch_subarea' %}",
                  method:"POST",
                  data:{id:id},
                  success:function(data)
                  {  
                  
                      $("#subarea_id").html("");
                       for(i=0;i<data.fetch_subarea.length;i++)
                        {
                           var   [name,id] = data.fetch_subarea[i];
                           subarea += "<option value='"+name+"' data-id='"+id+"'>"+name+"</option>";      
                            
                      
                        } 
                   
                        console.log(subarea);
                    
                   
                       $("#subarea_id").html(subarea);  
                       $('#subarea_id').selectpicker('refresh');  
                       
                    }
                 
                 });
                 
             
                
                 
               });
            
            
            
            });
            
            
            
            </script>


    </div>
  </div>
</div>



  <div class="row">
    <div class="col-sm-3">
      <button  class="btn btn-danger btn-block"   data-toggle="modal" data-target="#delete_city_modal">
            Remove
     </button>
     <button  class="btn btn-primary btn-block" id="service_edit_button" onClick="edit_city();" >
     edit
   </button>
   <script>
     
     function edit_city(){
           
          $("#city_edit").click();
     }
   </script>
    </div>
    <div class="col-sm-3">
      <button class="btn btn-danger btn-block" data-toggle="modal" data-target="#delete_area_modal"   >
        Remove 
    </button>
    <button  class="btn btn-primary btn-block"  onClick="edit_area();" >
      edit
    </button>
    <script>
      function edit_area()
      {
        $("#area_edit").click();
      }
    </script>
    </div>
    <div class="col-sm-3">
      <button class="btn btn-danger btn-block" data-toggle="modal" data-target="#delete_subarea_modal" >
        Remove
    </button>
    <button  class="btn btn-primary btn-block" onClick="edit_subarea();" >
      edit
    </button>
    <script>
      function edit_subarea()
      {
         $("#edit_subarea").click();
      }
    </script>
    </div>
  </div>



<script>


  $(document).ready(function(){
     
      $("#delete_city").click(function(){
             
        var value = $("#city_id").val();
        var control = $("#city_id");
        var id = control.find(":selected").data("id");
        $.ajax({
          
          url:"{% url 'delete_city' %}",
          method:"POST",
          data:{id:id},
          success:function(data)
          {  
          
     
                location.reload(); 
                
               
            }
         
         });

      });

   });


</script>


<script>


  $(document).ready(function(){
     
      $("#delete_area").click(function(){
             
        var value = $("#area_id").val();
        var control = $("#area_id");
        var id = control.find(":selected").data("id");
        $.ajax({
          
          url:"{% url 'delete_area' %}",
          method:"POST",
          data:{id:id},
          success:function(data)
          {  
          
            
                location.reload();
               
            }
         
         });

      });

   });


</script>



<script>


  $(document).ready(function(){
     
      $("#subarea_remove").click(function(){
             
        var value = $("#subarea_id").val();
        var control = $("#subarea_id");
        var id = control.find(":selected").data("id");
        $.ajax({
          
          url:"{% url 'delete_subarea' %}",
          method:"POST",
          data:{id:id},
          success:function(data)
          {  
          
           
                location.reload();
               
            }
         
         });

      });

   });


</script>





<!-- ----------------------- This is Delete Segment------------------------ --> 




<!-- Modal -->
<div class="modal fade" id="delete_city_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are You Sure For Remove This ?? This will be totally Undone!!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" id="delete_city" >Yes I Want Delete</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="delete_area_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are You Sure For Remove This ?? This will be totally Undone!!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" id="delete_area" >Yes I Want Delete</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="delete_subarea_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are You Sure For Remove This ?? This will be totally Undone!!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" id="subarea_remove" >Yes I Want Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- ----------------------- This is Delete Segment End------------------------ --> 


<!-- ----------------------- This is Edit Segment------------------------ --> 
<button type="button" hidden id="city_edit" class="btn btn-primary" data-toggle="modal" data-target=".city_edit"></button>

<div class="modal fade city_edit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
   <center> <h1 style="color:white;">Edit Service information </h1></center>
    <div class="modal-content">
      <form>
      <div class="form-group column container justify-content-center">
        <br>
        <div class="col-xs-7">
          <label for="ex3">Edit Current Service</label>
          <input class="form-control" id="current_service_data" type="text"><br>
<script>

  $(document).ready(function(){
            
    $("#city_edit").click(function(){

       var value = $("#city_id").val();
       document.getElementById("current_service_data").value = value;
    });
       

  });

</script>

          <button type="submit" id="service_edit_submit" class="btn btn-primary">Update</button>
        </div>
   

<script>
     $(document).ready(function(){
         
      $("#service_edit_submit").click(function(){
             
        var value = $("#service_id").val();
        var control = $("#service_id");
        var id = control.find(":selected").data("id"); 
        var data = $("#current_service_data").val();
    $.ajax({
          
          url:"{% url 'edit_service' %}",
          method:"POST",
          data:{id:id,change_name_service:data},
          success:function(data)
          {   
                alert("success");
                
               
            }
         
         });
   
      });

     })  

</script>

      </div>
    </form>

  </div>
  </div>
</div>


<button type="button" hidden id="area_edit" class="btn btn-primary" data-toggle="modal" data-target=".area_edit"></button>

<div class="modal fade area_edit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
   <center> <h1  style="color:white;">Edit Sub Service information </h1></center>
    <div class="modal-content">
      
      <form>    
      <div class="form-group column container justify-content-center">
        <br>
        <div class="col-xs-7">
          <label for="ex3">Edit Current SubService</label>
          <input class="form-control" id="current_area_data" type="text"><br>
          <button type="submit" id="subservice_edit_submit" class="btn btn-primary">Update</button>
        </div>
        <script>

          $(document).ready(function(){
                    
            $("#area_edit").click(function(){
        
               var value = $("#area_id").val();
               document.getElementById("current_area_data").value = value;
            });
               
        
          });
        
        </script>

        <script>
          $(document).ready(function(){
              
           $("#subservice_edit_submit").click(function(){


            var service_value = $("#service_id").val();
            var service_control = $("#service_id");
            var service_id = service_control.find(":selected").data("id");
                  
            var value = $("#subservice_id").val();
            var control = $("#subservice_id");
            var id = control.find(":selected").data("id");
             var data = $("#current_subservice_data").val();

         $.ajax({
               
               url:"{% url 'edit_subservice' %}",
               method:"POST",
               data:{service_id:service_id,id:id,change_name_subservice:data},
               success:function(data)
               {   
                     alert("success");
                     
                    
                 }
              
              });
        
           });
     
          })  
     
     </script>

      </div>
    </form>

    </div>
  </div>
</div>

<button type="button" hidden id="edit_subarea" class="btn btn-primary" data-toggle="modal" data-target=".edit_subarea"></button>

<div class="modal fade edit_subarea" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
   <center> <h1  style="color:white;">Edit Service Type information </h1></center>
    <div class="modal-content">
        
      <form>
      <div class="form-group column container justify-content-center">
        <br>
        <div class="col-xs-7">
          <label for="ex3">Edit Current sub-Service</label>
          <input class="form-control" id="current_subarea_data" type="text"><br>
          <button type="submit" id="servicetype_edit_submit" class="btn btn-primary">Update</button>
        </div>
        <script>

          $(document).ready(function(){
                    
            $("#edit_subarea").click(function(){
        
               var value = $("#subarea_id").val();
               document.getElementById("current_subarea_data").value = value;
            });
               
        
          });
        
        </script>

 <script>
 
    $(document).ready(function(){
        
     $("#servicetype_edit_submit").click(function(){


      var subservice_value = $("#subservice_id").val();
      var subservice_control = $("#subservice_id");
      var subservice_id = subservice_control.find(":selected").data("id");
            
      var value = $("#servicetype_id").val();
      var control = $("#servicetype_id");
      var id = control.find(":selected").data("id");
       var data = $("#current_servicetype_data").val();
       
   $.ajax({
         
         url:"{% url 'edit_subservicetype' %}",
         method:"POST",
         data:{subservice_id:subservice_id,id:id,change_name_servicetype:data},
         success:function(data)
         {   
               alert("success");
               
              
           }
        
        });
  
     });

    })  

 </script>

        
      </div>
    </form>

    </div>
  </div>
</div>






</div>

<script type="text/javascript" src="{%static 'assets/js/jquery/jquery.min.js'%}"></script>

<script>

$(document).ready(function(){

    $("#add_data").hide();
    $("#add_data2").hide();
    $("#add_data3").hide();


    $("#city_btn").click(function(){
       
          $("#add_data").show();
          $("#add_data2").hide();
            $("#add_data3").hide();

    });

       $("#area_btn").click(function(){
       
          $("#add_data").hide();
          $("#add_data2").show();
            $("#add_data3").hide();

    });

    $("#sub_area_btn").click(function(){

       
          $("#add_data").hide();
          $("#add_data2").hide();
          $("#add_data3").show();
        

   });




  

});


</script>



<script>




const form = document.getElementById("add_data");
  form.addEventListener("submit",submitHandler);

  function submitHandler(e)
  {
      e.preventDefault();
      $.djangocsrf( "enable" );
      $.ajax({
          type: "POST",
          url:"{%url 'add_city'%}",
          data:$("#add_data").serialize(),
          dataType:"json",
          success: function(data)
          {
              if(data.msg == "Success")
              {
                  
                  $(document).ready(function(){

                        $("#success").click();
                         document.getElementById("show_massage").innerHTML = "City Save Successfully .. Do Refresh to See Changes";
                         window.setTimeout(function(){location.reload()},500) 
                        })
                   
              }
              if(data.msg == "city")
              {
                  $(document).ready(function(){

                       $("#success").click(); 
                       document.getElementById("show_massage").innerHTML = "City Already Exist";
                       window.setTimeout(function(){location.reload()},500) 
                      })
              }
             
          }
      })
  };


const form2 = document.getElementById("add_data2");
  form2.addEventListener("submit",submitHandlerr);


function submitHandlerr(e)
  {
      e.preventDefault();
      $.djangocsrf( "enable" );
      $.ajax({
          type: "POST",
          url:"{%url 'add_area'%}",
          data:$("#add_data2").serialize(),
          dataType:"json",
          success: function(data)
          {
              if(data.msg == "Success")
              {
                  
                  $(document).ready(function(){

                        $("#success").click();
                         document.getElementById("show_massage").innerHTML = "Area Save Successfully .. Do Refresh to See Changes";
                         window.setTimeout(function(){location.reload()},500) 
                        })
                   
              }
              if(data.msg == "city")
              {
                  $(document).ready(function(){

                       $("#success").click(); 
                       document.getElementById("show_massage").innerHTML = "City Already Exist";
                       window.setTimeout(function(){location.reload()},500) 
                      })
              }
             
          }
      })
  };


  const form3 = document.getElementById("add_data3");
  form3.addEventListener("submit",submitHandlerrr);


function submitHandlerrr(e)
  {
      e.preventDefault();
      $.djangocsrf( "enable" );
      $.ajax({
          type: "POST",
          url:"{%url 'add_sub_area'%}",
          data:$("#add_data3").serialize(),
          dataType:"json",
          success: function(data)
          {
              if(data.msg == "Success")
              {
                  
                  $(document).ready(function(){

                        $("#success").click();
                         document.getElementById("show_massage").innerHTML = "Sub area Save Successfully .. Do Refresh to See Changes";
                         window.setTimeout(function(){location.reload()},500) 
                        })
                   
              }
              if(data.msg == "city")
              {
                  $(document).ready(function(){

                       $("#success").click(); 
                       document.getElementById("show_massage").innerHTML = "City Already Exist";
                  })
              }
             
          }
      })
  };




</script>





</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>




 {% endblock %}