{% extends 'dashboard/admin/index.html' %}

{%load static%}


{% block body %}


<div class="pcoded-content  ">
    <div class="pcoded-inner-content ">

        <!-- Main-body start -->
        <div class="main-body ">
            <div class="page-wrapper ">
            <!-- Page-header start -->
                <div class="page-body">

                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Typography card start -->
                            <div class="card">
                                <div class="card-header">

                                <div class="card-header-right">   
                                 <i class="icofont icofont-spinner-alt-5"></i>                                                         </div>
                                </div>
                                <div class="card-block typography">
                                    <div class="row">
                                        <div class="col-sm-12 col-xl-10">







<div class="border border-light p-3 mb-4">
   
  <div class="text-center" id="service_btn">
      <button type="button"  class="btn btn-primary btn-lg btn-block  sss">Add Service</button>
    </div>
      

  </div>
  

  <br><br>
  <div class="border border-light p-3 mb-4">


    <div class="text-center" id="subservie_btn">
      <button type="button" class="btn btn-primary btn-lg btn-block">Add  SubService</button>
    </div>

  </div>

  <br><br>

    <div class="border border-light p-3 mb-4">


    <div class="text-center" id="serviceType_btn">
      <button type="button" class="btn btn-primary btn-lg btn-block">Add  Service Type</button>
    </div>

  </div>


<form method="POST"  id="add_data">
  <div class="form-group">
    <label for="usr">Service </label>
     <input type="text" class="form-control"  name="service" id="usr">
  </div>
  <br>
  <div class="form-group">
    <button type="submit" id class="btn btn-primary">Add</button>
  
    </div>
</form>



<form method="POST" id="add_data2">

<label for="cars">Select Service From There </label><br>
<select name="service_id" id="cars">
  {% for data in service %}
    <option value="{{data.id}}">{{data.service_name}}</option>
  {% endfor %}
 </select>

  <div class="form-group">
    <label for="usr">Add SubService </label>
     <input type="text" class="form-control"  name="sub_service" id="usr">
  </div>
  <br>
  <div class="form-group">
    <button type="submit" id class="btn btn-primary">Add</button>
    </div>
</form>


<form method="POST" id="add_data3">

<label for="cars">Select Sub Service From There </label><br>
<select name="subservice_id" id="cars">
  {% for data in sub_service %}
    <option value="{{data.id}}">{{data.sub_service_name}}</option>
  {% endfor %}
 </select>

  <div class="form-group">
    <label for="usr">Add Service Type </label>
     <input type="text" class="form-control"  name="service_type" id="usr">
  </div>
  <br>
  <div class="form-group">
    <button type="submit" id class="btn btn-primary">Add</button>
    </div>
</form>





<button type="button" hidden id="success" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
</button>
<div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered bg-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="exampleModalLongTitle">Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-primary" id="show_massage" >
      
      </div>
      
    </div>
  </div>
</div>





<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Service</th>
      <th scope="col">Sub Service </th>
      <th scope="col">Service Type</th>

    </tr>
  </thead>
<center><h2>Here Service List </h2></center>

  <tbody>
  {% for data  in service_type  %}
    
    <tr>
      <th scope="row"  >{{data.id}}</th>
      <td>{{data.service_name.service_name.service_name}}</td>
      <td>{{data.service_name.sub_service_name}}</td>
      <td>{{data.service_type}}</td>
      <td> <a  class="btn btn-primary a-btn-slide-text" data-toggle="modal" data-target="#exampleModal2" data-whatever="@mdo">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        <span><strong>Edit</strong></span>  </td>

      <td>
    
     <form method="POST" action="{% url 'delete_service' %}">
     
      <input hidden value={{data.id}} name="delete_service_id">
      <a  class="btn btn-danger a-btn-slide-text" data-toggle="modal" data-target="#exampleModal1">
       <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span><strong>Delete</strong></span>  

        </form>
        
        
     </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- ----------------------- This is Delete Segment------------------------ --> 

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Area You Sure About Delete This Entry This Will Be Totally Undone ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- ----------------------- This is Delete Segment End------------------------ --> 




<!-- ----------------------- This is Edit Segment------------------------ --> 



<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>



<!-- ----------------------- This is Edit Segment End------------------------ --> 





<script type="text/javascript" src="{%static 'assets/js/jquery/jquery.min.js'%}"></script>


<script>

$(document).ready(function(){

    $("#add_data").hide();
    $("#add_data2").hide();
    $("#add_data3").hide();


    $("#service_btn").click(function(){
       
          $("#add_data").show();
          $("#add_data2").hide();
            $("#add_data3").hide();

    });

       $("#subservie_btn").click(function(){
       
          $("#add_data").hide();
          $("#add_data2").show();
            $("#add_data3").hide();

    });

    $("#serviceType_btn").click(function(){

       
          $("#add_data").hide();
          $("#add_data2").hide();
          $("#add_data3").show();
        

   });




  

});


</script>






</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>




<script>



const form = document.getElementById("add_data");
  form.addEventListener("submit",submitHandler);

  function submitHandler(e)
  {
      e.preventDefault();
      $.djangocsrf( "enable" );
      $.ajax({
          type: "POST",
          url:"{%url 'add_service'%}",
          data:$("#add_data").serialize(),
          dataType:"json",
          success: function(data)
          {
              if(data.msg == "Success")
              {
                  
                  $(document).ready(function(){

                        $("#success").click();
                         document.getElementById("show_massage").innerHTML = "Add Service  Successfully .. Do Refresh to See Changes";
                     })
                   
              }
              if(data.msg == "city")
              {
                  $(document).ready(function(){

                       $("#success").click(); 
                       document.getElementById("show_massage").innerHTML = "City Already Exist";
                  })
              }
             
          }
      })
  };



const form2 = document.getElementById("add_data2");
  form2.addEventListener("submit",submitHandlerr);

  function submitHandlerr(e)
  {
      e.preventDefault();
      $.djangocsrf( "enable" );
      $.ajax({
          type: "POST",
          url:"{%url 'add_subservice'%}",
          data:$("#add_data2").serialize(),
          dataType:"json",
          success: function(data)
          {
              if(data.msg == "Success")
              {
                  
                  $(document).ready(function(){

                        $("#success").click();
                         document.getElementById("show_massage").innerHTML = "Add Sub Service  Successfully .. Do Refresh to See Changes";
                     })
                   
              }
              if(data.msg == "city")
              {
                  $(document).ready(function(){

                       $("#success").click(); 
                       document.getElementById("show_massage").innerHTML = "City Already Exist";
                  })
              }
             
          }
      })
  };





const form3 = document.getElementById("add_data3");
  form3.addEventListener("submit",submitHandlerrr);

  function submitHandlerrr(e)
  {
      e.preventDefault();
      $.djangocsrf( "enable" );
      $.ajax({
          type: "POST",
          url:"{%url 'add_servicetype'%}",
          data:$("#add_data3").serialize(),
          dataType:"json",
          success: function(data)
          {
              if(data.msg == "Success")
              {
                  
                  $(document).ready(function(){

                        $("#success").click();
                         document.getElementById("show_massage").innerHTML = "Add Sub Service Type  Successfully .. Do Refresh to See Changes";
                     })
                   
              }
              if(data.msg == "city")
              {
                  $(document).ready(function(){

                       $("#success").click(); 
                       document.getElementById("show_massage").innerHTML = "City Already Exist";
                  })
              }
             
          }
      })
  };


</script>




 {% endblock %}