{% extends 'dashboard/admin/index.html' %}

{%load static%}


{% block body %}
<script src="https://cdn.jsdelivr.net/gh/js-cookie/js-cookie@1.5.1/src/js.cookie.js"></script> 
<script src="https://cdn.jsdelivr.net/gh/bfontaine/jquery-djangocsrf@0.1.1/jquery.djangocsrf.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>  

<div class="pcoded-content  ">
    <div class="pcoded-inner-content ">

        <!-- Main-body start -->
        <div class="main-body ">
            <div class="page-wrapper ">
            <!-- Page-header start -->
                <div class="page-body">

                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Typography card start -->
                            <div class="card">
                                <div class="card-header">

                                <div class="card-header-right">   
                                 <i class="icofont icofont-spinner-alt-5"></i>                                                         </div>
                                </div>
                                <div class="card-block typography">
                                    <div class="row">
                                        <div class="col-sm-12 col-xl-10">







<div class="border border-light p-3 mb-4">
   
  <div class="text-center" id="service_btn">
      <button type="button"  class="btn btn-primary btn-lg btn-block  sss">Add Service</button>
    </div>
      

  </div>
  

  <br><br>
  <div class="border border-light p-3 mb-4">


    <div class="text-center" id="subservie_btn">
      <button type="button" class="btn btn-primary btn-lg btn-block">Add  SubService</button>
    </div>

  </div>

  <br><br>

    <div class="border border-light p-3 mb-4">


    <div class="text-center" id="serviceType_btn">
      <button type="button" class="btn btn-primary btn-lg btn-block">Add  Service Type</button>
    </div>

  </div>


<form method="POST"  id="add_data">
  <div class="form-group">
    <label for="usr">Service </label>
     <input type="text" class="form-control"  name="service" id="usr">
  </div>
  <br>
  <div class="form-group">
    <button type="submit" id class="btn btn-primary">Add</button>
  
    </div>
</form>

<br>

<form method="POST" id="add_data2">

<label for="cars">Select Service From There </label><br>
<select name="service_id" class="form-control" style="height:35px;" id="cars">
  {% for data in service %}
    <option value="{{data.id}}">{{data.service_name}}</option>
  {% endfor %}
 </select>
<br>
  <div class="form-group">
    <label for="usr">Add SubService </label>
     <input type="text" class="form-control"  name="sub_service" id="usr">
  </div>
  <br>
  <div class="form-group">
    <button type="submit" id class="btn btn-primary">Add</button>
    </div>
</form>


<form method="POST" id="add_data3">
<label for="cars">Select Sub Service From There </label><br>
<select  class="form-control" style="height:35px;" name="subservice_id" id="cars">
  {% for data in sub_service %}
    <option value="{{data.id}}">{{data.sub_service_name}}</option>
  {% endfor %}
 </select>
<br>
  <div class="form-group">
    <label for="usr">Add Service Type </label>
     <input type="text" class="form-control"  name="service_type" id="usr">
  </div>
  <br>
  <div class="form-group">
    <button type="submit" id class="btn btn-primary">Add</button>
    </div>
</form>





<button type="button" hidden id="success" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
</button>
<div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered bg-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="exampleModalLongTitle">Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-primary" id="show_massage" >
      
      </div>
      
    </div>
  </div>
</div>


<button type="button" hidden id="failed" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
</button>
<div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered bg-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="exampleModalLongTitle">Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-danger" id="show_massage" >
      
      </div>
      
    </div>
  </div>
</div>




<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h3>Service</h3>
       <div class="form-group">
        <select multiple  class="form-control" id="service_id" name="service"   style="width:250px; height:400px;">
          {% for data  in service  %}
          <option value="{{data.service_name}}" data-id="{{data.id}}" >{{data.service_name}}</option>
          {% endfor %}
        </select>
      </div>

    </div>
    
    <div class="col-sm-3">
      <h3>See SubService</h3>
      <div class="form-group">
        <select multiple class="form-control" id="subservice_id" name="sub_service"   style="width:250px; height:400px;"  >   
     
        </select>
      </div>
    </div>

    <script>

      $(document).ready(function(){
           
        $.djangocsrf( "enable" );
          
        $("#service_id").change(function(){
      
        
           var control = $(this);
           var id = control.find(":selected").data("id");
             var sub_service = "";
           $.ajax({
          
            url:"{% url 'fetch_subservice' %}",
            method:"POST",
            data:{id:id},
            success:function(data)
            {  
            
                $("#subservice_id").html("");
                 for(i=0;i<data.fetch_subservice.length;i++)
                  {
                     var   [name,id] = data.fetch_subservice[i];
                      sub_service += "<option value='"+name+"' data-id='"+id+"'>"+name+"</option>";      
                      
                
                  } 
             
                  console.log(sub_service);
              
             
                 $("#subservice_id").html(sub_service);  
                 $('#subservice_id').selectpicker('refresh');  
                 
              }
           
           });
           
           
         });
      
      
      
      });
      
      
      
      </script>
  
    <div class="col-sm-3">
   <h3>See SubService Type</h3>
        <div class="form-group">
          <select multiple class="form-control"  style="width:250px; height:400px;" id="servicetype_id">
          
          </select>
      
          <script>

            $(document).ready(function(){
                 
              $.djangocsrf( "enable" );
                
              $("#subservice_id").change(function(){
            
              
                 var control = $(this);
                 var id = control.find(":selected").data("id");
                   var sub_service_type = "";
                 $.ajax({
                
                  url:"{% url 'fetch_servicetype' %}",
                  method:"POST",
                  data:{id:id},
                  success:function(data)
                  {  
                  
                      $("#servicetype_id").html("");
                       for(i=0;i<data.fetch_servicetype.length;i++)
                        {
                           var   [name,id] = data.fetch_servicetype[i];
                           sub_service_type += "<option value='"+name+"' data-id='"+id+"'>"+name+"</option>";      
                            
                      
                        } 
                   
                        console.log(sub_service_type);
                    
                   
                       $("#servicetype_id").html(sub_service_type);  
                       $('#servicetype_id').selectpicker('refresh');  
                       
                    }
                 
                 });
                 
             
                
                 
               });
            
            
            
            });
            
            
            
            </script>


    </div>
  </div>
</div>



  <div class="row">
    <div class="col-sm-3">
      <button  class="btn btn-danger btn-block"  id="service_remove">
            Remove
     </button>
     <button  class="btn btn-primary btn-block" id="service_edit_button" onClick="edit_service();" >
     edit
   </button>
   <script>
     
     function edit_service(){
           
          $("#service_edit").click();
     }
   </script>
    </div>
    <div class="col-sm-3">
      <button class="btn btn-danger btn-block" id="sub_service_remove" >
        Remove 
    </button>
    <button  class="btn btn-primary btn-block"  onClick="edit_subservice();" >
      edit
    </button>
    <script>
      function edit_subservice()
      {
        $("#sub_service_edit").click();
      }
    </script>
    </div>
    <div class="col-sm-3">
      <button class="btn btn-danger btn-block" id="sub_servicetype_remove">
        Remove
    </button>
    <button  class="btn btn-primary btn-block" onClick="edit_servicetype();" >
      edit
    </button>
    <script>
      function edit_servicetype()
      {
         $("#servicetype_edit").click();
      }
    </script>
    </div>
  </div>



<script>


  $(document).ready(function(){
     
      $("#service_remove").click(function(){
             
        var value = $("#service_id").val();
        var control = $("#service_id");
        var id = control.find(":selected").data("id");
        $.ajax({
          
          url:"{% url 'delete_service' %}",
          method:"POST",
          data:{id:id},
          success:function(data)
          {  
          
                alert("success");
                location.reload(); 
                
               
            }
         
         });

      });

   });


</script>


<script>


  $(document).ready(function(){
     
      $("#sub_service_remove").click(function(){
             
        var value = $("#subservice_id").val();
        var control = $("#subservice_id");
        var id = control.find(":selected").data("id");
        $.ajax({
          
          url:"{% url 'delete_subservice' %}",
          method:"POST",
          data:{id:id},
          success:function(data)
          {  
          
                alert("success");
                location.reload();
               
            }
         
         });

      });

   });


</script>



<script>


  $(document).ready(function(){
     
      $("#sub_servicetype_remove").click(function(){
             
        var value = $("#servicetype_id").val();
        var control = $("#servicetype_id");
        var id = control.find(":selected").data("id");
        $.ajax({
          
          url:"{% url 'delete_subservicetype' %}",
          method:"POST",
          data:{id:id},
          success:function(data)
          {  
          
                alert("success");
                location.reload();
               
            }
         
         });

      });

   });


</script>





<!-- ----------------------- This is Delete Segment------------------------ --> 

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Area You Sure About Delete This Entry This Will Be Totally Undone ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- ----------------------- This is Delete Segment End------------------------ --> 


<!-- ----------------------- This is Edit Segment------------------------ --> 
<button type="button" hidden id="service_edit" class="btn btn-primary" data-toggle="modal" data-target=".service_edit"></button>

<div class="modal fade service_edit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
   <center> <h1 style="color:white;">Edit Service information </h1></center>
    <div class="modal-content">
      <form>
      <div class="form-group column container justify-content-center">
        <br>
        <div class="col-xs-7">
          <label for="ex3">Edit Current Service</label>
          <input class="form-control" id="current_service_data" type="text"><br>
<script>

  $(document).ready(function(){
            
    $("#service_edit").click(function(){

       var value = $("#service_id").val();
       document.getElementById("current_service_data").value = value;
    });
       

  });

</script>

          <button type="submit" id="service_edit_submit" class="btn btn-primary">Update</button>
        </div>
   

<script>
     $(document).ready(function(){
         
      $("#service_edit_submit").click(function(){
             
        var value = $("#service_id").val();
        var control = $("#service_id");
        var id = control.find(":selected").data("id"); 
        var data = $("#current_service_data").val();
    $.ajax({
          
          url:"{% url 'edit_service' %}",
          method:"POST",
          data:{id:id,change_name_service:data},
          success:function(data)
          {   
                alert("success");
                
               
            }
         
         });
   
      });

     })  

</script>

      </div>
    </form>

  </div>
  </div>
</div>


<button type="button" hidden id="sub_service_edit" class="btn btn-primary" data-toggle="modal" data-target=".sub_service_edit"></button>

<div class="modal fade sub_service_edit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
   <center> <h1  style="color:white;">Edit Sub Service information </h1></center>
    <div class="modal-content">
      
      <form>    
      <div class="form-group column container justify-content-center">
        <br>
        <div class="col-xs-7">
          <label for="ex3">Edit Current SubService</label>
          <input class="form-control" id="current_subservice_data" type="text"><br>
          <button type="submit" id="subservice_edit_submit" class="btn btn-primary">Update</button>
        </div>
        <script>

          $(document).ready(function(){
                    
            $("#sub_service_edit").click(function(){
        
               var value = $("#subservice_id").val();
               document.getElementById("current_subservice_data").value = value;
            });
               
        
          });
        
        </script>

        <script>
          $(document).ready(function(){
              
           $("#subservice_edit_submit").click(function(){
                  
            var value = $("#subservice_id").val();
            var control = $("#subservice_id");
            var id = control.find(":selected").data("id");
             var data = $("#current_subservice_data").val();
             alert(data);
         $.ajax({
               
               url:"{% url 'edit_subservice' %}",
               method:"POST",
               data:{id:id,change_name_subservice:data},
               success:function(data)
               {   
                     alert("success");
                     
                    
                 }
              
              });
        
           });
     
          })  
     
     </script>

      </div>
    </form>

    </div>
  </div>
</div>

<button type="button" hidden id="servicetype_edit" class="btn btn-primary" data-toggle="modal" data-target=".servicetype_edit"></button>

<div class="modal fade servicetype_edit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
   <center> <h1  style="color:white;">Edit Service Type information </h1></center>
    <div class="modal-content">
        
      <form>
      <div class="form-group column container justify-content-center">
        <br>
        <div class="col-xs-7">
          <label for="ex3">Edit Current sub-Service</label>
          <input class="form-control" id="current_servicetype_data" type="text"><br>
          <button type="submit" id class="btn btn-primary">Update</button>
        </div>
        <script>

          $(document).ready(function(){
                    
            $("#servicetype_edit").click(function(){
        
               var value = $("#servicetype_id").val();
               document.getElementById("current_servicetype_data").value = value;
            });
               
        
          });
        
        </script>


        
      </div>
    </form>

    </div>
  </div>
</div>




<!-- ----------------------- This is Edit Segment------------------------ --> 





<script type="text/javascript" src="{%static 'assets/js/jquery/jquery.min.js'%}"></script>


<script>

$(document).ready(function(){

    $("#add_data").hide();
    $("#add_data2").hide();
    $("#add_data3").hide();


    $("#service_btn").click(function(){
       
          $("#add_data").show();
          $("#add_data2").hide();
            $("#add_data3").hide();

    });

       $("#subservie_btn").click(function(){
       
          $("#add_data").hide();
          $("#add_data2").show();
            $("#add_data3").hide();

    });

    $("#serviceType_btn").click(function(){

       
          $("#add_data").hide();
          $("#add_data2").hide();
          $("#add_data3").show();
        

   });




  

});


</script>






</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>




<script>



const form = document.getElementById("add_data");
  form.addEventListener("submit",submitHandler);

  function submitHandler(e)
  {
      e.preventDefault();
      $.djangocsrf( "enable" );
      $.ajax({
          type: "POST",
          url:"{%url 'add_service'%}",
          data:$("#add_data").serialize(),
          dataType:"json",
          success: function(data)
          {
              if(data.msg == "Success")
              {
                  
                  $(document).ready(function(){

                        $("#success").click();
                         document.getElementById("show_massage").innerHTML = "Add Service  Successfully .. Do Refresh to See Changes";
                         window.setTimeout(function(){location.reload()},500) 
                        })
                   
              }
        
               if(data.msg == "error"){
                  $(document).ready(function(){

                       $("#failed").click(); 
                       document.getElementById("show_massage").innerHTML = "Some Thing Went Wrong";
                  });
              }
      
             
          },

          error : function(data)
         {
              $(document).ready(function(){

                       $("#failed").click(); 
                       document.getElementById("show_massage").innerHTML = "Some Thing Went Wrong";
                  });
         }
     
      })
          
    
  };



const form2 = document.getElementById("add_data2");
  form2.addEventListener("submit",submitHandlerr);

  function submitHandlerr(e)
  {
      e.preventDefault();
      $.djangocsrf( "enable" );
      $.ajax({
          type: "POST",
          url:"{%url 'add_subservice'%}",
          data:$("#add_data2").serialize(),
          dataType:"json",
          success: function(data)
          {
              if(data.msg == "Success")
              {
                  
                  $(document).ready(function(){

                        $("#success").click();
                        document.getElementById("show_massage").innerHTML = "Add Sub Service  Successfully .. Do Refresh to See Changes";
                        window.setTimeout(function(){location.reload()},500) 
                      })
                   
              }
              if(data.msg == "city")
              {
                  $(document).ready(function(){

                       $("#success").click(); 
                       document.getElementById("show_massage").innerHTML = "City Already Exist";
                  })
              }
             
          }
      })
  };





const form3 = document.getElementById("add_data3");
  form3.addEventListener("submit",submitHandlerrr);

  function submitHandlerrr(e)
  {
      e.preventDefault();
      $.djangocsrf( "enable" );
      $.ajax({
          type: "POST",
          url:"{%url 'add_servicetype'%}",
          data:$("#add_data3").serialize(),
          dataType:"json",
          success: function(data)
          {
              if(data.msg == "Success")
              {
                  
                  $(document).ready(function(){

                        $("#success").click();
                         document.getElementById("show_massage").innerHTML = "Add Sub Service Type  Successfully .. Do Refresh to See Changes";
                         window.setTimeout(function(){location.reload()},500) 
                        })
                   
              }
              if(data.msg == "city")
              {
                  $(document).ready(function(){

                       $("#success").click(); 
                       document.getElementById("show_massage").innerHTML = "City Already Exist";
                  })
              }
             
          }
      })
  };


</script>




 {% endblock %}