{% extends 'dashboard/admin/index.html' %}

{%load static%}


{% block body %}
<div class="pcoded-content  ">
    <div class="pcoded-inner-content ">

        <!-- Main-body start -->
        <div class="main-body ">
            <div class="page-wrapper ">
            <!-- Page-header start -->
                <div class="page-body">

                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Typography card start -->
                            <div class="card">
                                <div class="card-header">

                                <div class="card-header-right">   
                                 <i class="icofont icofont-spinner-alt-5"></i>                                                         </div>
                                </div>
                                <div class="card-block typography">
                                    <div class="row">
                                        <div class="col-sm-12 col-xl-10">


 <style>
         .margin{
              margin-left: 80px;
            }
 </style> 

<div class="margin">

       helloWorl 

</div>


</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>




 {% endblock %}