{% extends 'dashboard/admin/index.html' %}

{%load static%}


{% block body %}
<div class="pcoded-content  ">
    <div class="pcoded-inner-content ">

        <!-- Main-body start -->
        <div class="main-body ">
            <div class="page-wrapper ">
            <!-- Page-header start -->
                <div class="page-body">

                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Typography card start -->
                            <div class="card">
                                <div class="card-header">

                                <div class="card-header-right">   
                                 <i class="icofont icofont-spinner-alt-5"></i>                                                         </div>
                                </div>
                                <div class="card-block typography">
                                    <div class="row">
                                        <div class="col-sm-12 col-xl-10">


 <style>
         .margin{
              margin-left: 80px;
            }

        
 </style> 

  <div class="border border-light p-3 mb-4">

     
  <div class="text-center" id="city_btn">
      <button type="button" class="btn btn-primary btn-lg btn-block">Add City</button>
    </div>
      

  </div>
  

  <br><br>
  <div class="border border-light p-3 mb-4">


    <div class="text-center" id="area_btn">
      <button type="button" class="btn btn-primary btn-lg btn-block">Add Area</button>
    </div>

  </div>




<form method="POST" id="add_data">
  <div class="form-group">
    <label for="usr">City</label>
     <input type="text" class="form-control"  name="city" id="usr">
  </div>
  <br>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>



<form method="POST" id="add_data2">



 <label for="cars">Select City From There </label><br>
  <select name="city_id" id="cars">
  {% for data in city %}
    <option value="{{data.id}}">{{data.city_name}}</option>
  {% endfor %}
  </select>


<br><br><br>


  <div class="form-group">
    <label for="usr">Area</label>
    <input type="text" class="form-control" name="area" id="usr">
  </div>
  <div class="form-group">
    <label for="usr">Sub Area</label>
    <input type="text" class="form-control"  name="subarea" id="usr">
  </div>
  <br>
  <div class="form-group">
       <button type="submit" class="btn btn-primary">Add</button>    
  
  </div>
  </form>




<button type="button" hidden id="success" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
</button>
<div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered bg-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="exampleModalLongTitle">Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-primary" id="show_massage" >
      
      </div>
      
    </div>
  </div>
</div>


<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">City</th>
      <th scope="col">Area</th>
      <th scope="col">SubArea</th>

    </tr>
  </thead>
<center><h2>Here Here City List </h2></center>

  <tbody>
  {% for data  in city  %}
    
    <tr>
      <th scope="row">{{data.id}}</th>
      <td>{{data.city_name}}</td>
      <td>{{data.area_name}}</td>
      <td>{{data.sub_area_name}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script type="text/javascript" src="{%static 'assets/js/jquery/jquery.min.js'%}"></script>

<script>

$(document).ready(function(){

    $("#add_data").hide();
    $("#add_data2").hide();


    $("#city_btn").click(function(){
       
          $("#add_data").show();
          $("#add_data2").hide();

    });

       $("#area_btn").click(function(){
       
          $("#add_data").hide();
          $("#add_data2").show();

    });




  

});


</script>



<script>




const form = document.getElementById("add_data");
  form.addEventListener("submit",submitHandler);

  function submitHandler(e)
  {
      e.preventDefault();
      $.djangocsrf( "enable" );
      $.ajax({
          type: "POST",
          url:"{%url 'add_area_request'%}",
          data:$("#add_data").serialize(),
          dataType:"json",
          success: function(data)
          {
              if(data.msg == "Success")
              {
                  
                  $(document).ready(function(){

                        $("#success").click();
                         document.getElementById("show_massage").innerHTML = "City Save Successfully .. Do Refresh to See Changes";
                     })
                   
              }
              if(data.msg == "city")
              {
                  $(document).ready(function(){

                       $("#success").click(); 
                       document.getElementById("show_massage").innerHTML = "City Already Exist";
                  })
              }
             
          }
      })
  };


const form2 = document.getElementById("add_data2");
  form2.addEventListener("submit",submitHandlerr);


function submitHandlerr(e)
  {
      e.preventDefault();
      $.djangocsrf( "enable" );
      $.ajax({
          type: "POST",
          url:"{%url 'add_area_request'%}",
          data:$("#add_data2").serialize(),
          dataType:"json",
          success: function(data)
          {
              if(data.msg == "Success")
              {
                  
                  $(document).ready(function(){

                        $("#success").click();
                         document.getElementById("show_massage").innerHTML = "Area Save Successfully .. Do Refresh to See Changes";
                     })
                   
              }
              if(data.msg == "city")
              {
                  $(document).ready(function(){

                       $("#success").click(); 
                       document.getElementById("show_massage").innerHTML = "City Already Exist";
                  })
              }
             
          }
      })
  };



</script>





</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>




 {% endblock %}