{% extends 'dashboard/admin/index.html' %}

{%load static%}


{% block body %}
<script src="https://cdn.jsdelivr.net/gh/js-cookie/js-cookie@1.5.1/src/js.cookie.js"></script>
<script src="https://cdn.jsdelivr.net/gh/bfontaine/jquery-djangocsrf@0.1.1/jquery.djangocsrf.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<div class="pcoded-content  ">
    <div class="pcoded-inner-content ">

        <!-- Main-body start -->
        <div class="main-body ">
            <div class="page-wrapper ">
            <!-- Page-header start -->
                <div class="page-body">

                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Typography card start -->
                            <div class="card">
                                <div class="card-header">

                                <div class="card-header-right">
                                 <i class="icofont icofont-spinner-alt-5"></i>                                                         </div>
                                </div>
                                <div class="card-block typography">
                                    <div class="row">
                                        <div class="col-sm-12 col-xl-10">

                      <center><h2>======See Order list=====</h2></center>
                      <div class="margin"  style="overflow-x:auto;">
                    <form action="POST" id="order_approve">
                      <table class="table table-borderless table-striped table-earning" id="table_id">
                        <thead>
                          <tr >
                            <th scope="col">ID</th>
                            <th scope="col">প্রফাইল</th>
                            <th scope="col">নাম</th>
                            <th scope="col">সার্ভিস ক্যাটাগরি</th>
                            <th scope="col">সার্ভিস</th>
                            <th scope="col">সার্ভিস ধরন</th>
                            <th scope="col">যে সময় লাগবে </th>
                            <th scope="col">টাকা</th>
                            <th scope="col">ডিসকাউন্ট</th>
                            <th scope="col">মিস্ত্রি সিলেক্ট করুন</th>
                          </tr>
                        </thead>
                        <tbody id="add_details">
                        {% for data in orders %}
                        <tr>
                            <td>{{data.id}}</td>
                            <td><img src="{{data.order_holder_pic}}"class="rounded-circle " height="50px" weidth="50px" ></td>
                            <td>{{data.order_holder_name}}</td>
                            <td>{{data.service_name}}</td>
                            <td>{{data.sub_service_name}}</td>
                            <td>{{data.service_type}}</td>
                            <td>{{data.time}}</td>
                            <td>{{data.service_type_rate}}/=</td>
                            <td><input type="text" name="discountAmount" value="0"  class="form-control" ></input>
                            </td>
                            <td>
      

                          {% for mistri_work , mistri_name in mistri_services.items %}  
                     
                            {% if mistri_work == data.service_name%}
                        
                              {% for mistri_name_data in mistri_name %}
                                   
 
                                      <div class="form-check">
                                      <input class="form-check-input mistri_select" type="checkbox" name="mistri_name_data" value="{{mistri_name_data}}" id="mistri_select_{{forloop.counter}}">
                                        <label class="form-check-label" for="flexCheckDefault" >
                                             {{mistri_name_data}}
                                        </label>
                                      </div>

                                {%endfor%}
                                
                               {%endif%}
        
                          {% endfor %}
                        
                            </td>
                            <td><button id="order_approve_id" type="submit" class="btn btn-primary order_approve">Approve</button></td>
                            <td><button id="order_cancel_id" class="btn btn-danger">Cancel</button></td>


                        </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </form>

                    </div>
                  


                    <script>
                      
                        $(document).ready(function(){
                            
                            $(".order_approve").on('click',function(){
                                
                               var row = $(this).closest("tr");
                               var col1 = row.find("td:eq(9)").text();
                               
                               //alert($("#mistri_select_2").val());
                               
                               

                               
                              
                            })
                          
                        })
                      
                    </script>


     <script>
             const form = document.getElementById("order_approve");
            form.addEventListener("submit",submitHandler);

  function submitHandler(e)
  {
      e.preventDefault();
      $.djangocsrf( "enable" );
      $.ajax({
          type: "POST",
          url:"{%url 'client_order_process'%}",
          data:$("#order_approve").serialize(),
          dataType:"json",
          success: function(data)
          {
              if(data.msg == "Success")
              {
                  
                  $(document).ready(function(){

                        $("#success").click();
                         document.getElementById("show_massage").innerHTML = "City Save Successfully .. Do Refresh to See Changes";
                         window.setTimeout(function(){location.reload()},500) 
                        })
                   
              }
              if(data.msg == "city")
              {
                  $(document).ready(function(){

                       $("#success").click(); 
                       document.getElementById("show_massage").innerHTML = "City Already Exist";
                       window.setTimeout(function(){location.reload()},500) 
                      })
              }
             
          }
      })
  };

  </script>


                   
                    <!-- <script>

       $(document).ready(function(){
         
          $("#mistri_select_options").html("");
          var mistri_options = "";

       {% for data in orders %}

           {% for mistri_name , mistri_service ,mistri_area  in mistri_information %}

              {% if mistri_service == data.service_name  %}

                  mistri_options += "<option value='{{mistri_name}}'>{{mistri_name}}</option>"; 


              {% endif %}
            {% endfor %}

        {% endfor %}

        $("#mistri_select_options").html(mistri_options);
        $("#mistri_select_options").selectpicker('refresh'); 
     
      });

                </script> -->





                    <!-- <select class="form-control" id="demo_form_control" >

                    </select><br><br>

                    <select class="form-control" id="demo_form_control_2">

                    </select>


                   <script>

                   </script>-->
   
           

          <!-- <script>
        

           $(document).ready(function(){
                     
            var  rowCount = document.getElementById('add_details').rows.length; 

             alert(rowCount);
                      var data = "";

                      $("#mistri_select_options").html("");
                
                  {% for data in orders %}

                     {% for mistri_work , mistri_name in mistri_services.items %}  
                     
                             
                      {% if mistri_work == data.service_name%}
                        
                      {% for mistri_name_data in mistri_name %}

                                   data += "<option value='{{mistri_name_data}}'> {{mistri_name_data}}</option>";

                         {%endfor%}
                                
                        {%endif%}

                     {% endfor %}
                  {%endfor%}

                  $("#mistri_select_options").html(data);
                  $("#mistri_select_options").selectpicker('refresh');


                    });

             </script>  -->
            


</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>








 {% endblock %}