{% extends 'dashboard/admin/index.html' %}

{%load static%}


{% block body %}
<script src="https://cdn.jsdelivr.net/gh/js-cookie/js-cookie@1.5.1/src/js.cookie.js"></script>
<script src="https://cdn.jsdelivr.net/gh/bfontaine/jquery-djangocsrf@0.1.1/jquery.djangocsrf.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<div class="pcoded-content  ">
    <div class="pcoded-inner-content ">

        <!-- Main-body start -->
        <div class="main-body ">
            <div class="page-wrapper ">
            <!-- Page-header start -->
                <div class="page-body">

                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Typography card start -->
                            <div class="card">
                                <div class="card-header">

                                <div class="card-header-right">
                                 <i class="icofont icofont-spinner-alt-5"></i>                                                         </div>
                                </div>
                                <div class="card-block typography">
                                    <div class="row">
                                        <div class="col-sm-12 col-xl-10">

                      <center><h2>======See Order list=====</h2></center>
                      <div class="margin"  style="overflow-x:auto;">
                      <table class="table table-borderless table-striped table-earning" id="table_id">
                        <thead>
                          <tr >
                            <th scope="col">ID</th>
                            <th scope="col">প্রফাইল</th>
                            <th scope="col">নাম</th>
                            <th scope="col">সার্ভিস ক্যাটাগরি</th>
                            <th scope="col">সার্ভিস</th>
                            <th scope="col">সার্ভিস ধরন</th>
                            <th scope="col">যে সময় লাগবে </th>
                            <th scope="col">টাকা</th>
                            <th scope="col">ডিসকাউন্ট</th>
                            <th scope="col">মিস্ত্রি সিলেক্ট করুন</th>
                          </tr>
                        </thead>
                        <tbody id="add_details">
                        {% for data in orders %}
                        <tr>
                            <td>{{data.id}}</td>
                            <td><img src="{{data.order_holder_pic}}"class="rounded-circle " height="50px" weidth="50px" ></td>
                            <td>{{data.order_holder_name}}</td>
                            <td>{{data.service_name}}</td>
                            <td>{{data.sub_service_name}}</td>
                            <td>{{data.service_type}}</td>
                            <td>{{data.time}}</td>
                            <td>{{data.service_type_rate}}/=</td>
                            <td><input type="text" class="form-control" id="discount"></td>
                            <td>
                              {% for mistri_name , mistri_service ,mistri_area  in mistri_information %}


                               {% if mistri_service == data.service_name and mistri_area == data.order_holder_area %}
                                <select class="form-control"  name="mistri_select"  style=" height:35px;"  id="mistri_select_options">

                                       <option value="{{mistri_name}}">{{mistri_name}}</option>

                                </select>
                                {% endif %}

                            {% endfor %}

                            </td>
                            <td><button id="order_approve_id" class="btn btn-primary">Approve</button></td>
                            <td><button id="order_cancel_id" class="btn btn-danger">Cancel</button></td>

                        </tr>
                    {% endfor %}
                        </tbody>
                      </table>

                    </div>

                    <select class="form-control" id="demo_form_control" >

                    </select><br><br>

                    <select class="form-control" id="demo_form_control_2">

                    </select>

                    <script>

                    $(document).ready(function(){

                      var data = "";

                      $("#demo_form_control").html("");

                      {%for  mistri_name , mistri_service,mistri_area  in mistri_information %}

                        {% for client_order in orders %}

                         {% if client_order.service_name == mistri_service %}

                         data += "<option value='{{mistri_name}}'> {{mistri_name}}</option>";

                         {% endif %}

                       {% endfor %}
                     {% endfor %}

                      $("#demo_form_control").html(data);
                      $("#demo_form_control").selectpicker('refresh');




                    });




                      </script>


</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>








 {% endblock %}