{% extends 'dashboard/admin/index.html' %}

{%load static%}


{% block body %}



  <div class="pcoded-content  ">
                        <div class="pcoded-inner-content ">

                            <!-- Main-body start -->
                            <div class="main-body ">
                                <div class="page-wrapper ">
                                <!-- Page-header start -->
                                    <div class="page-body">

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <!-- Typography card start -->
                                                <div class="card">
                                                    <div class="card-header">
                
                                                    <div class="card-header-right">   
                                                                                                                 <i class="icofont icofont-spinner-alt-5"></i>                                                         </div>
                                                    </div>
                                                    <div class="card-block typography">
                                                        <div class="row">
                                                          <div class="col-sm-12 col-xl-10">
<style>
  .margin{
    margin-left: 80px;
  }
</style>
                                                            
<div class="margin">
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">profile</th>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Date Of Birth</th>
      <th scope="col">Email</th>
      <th scope="col">City</th>
      <th scope="col">area</th>
      <th scope="col">Subarea</th>
      

    </tr>
  </thead>
<center><h2>Here mistri List </h2></center>

  <tbody>
  {% for data  in mistri_data  %}
    
    <tr>
      <th scope="row">{{data.id}}</th>
      <td><img src="{{data.profile_image_link}}" class="rounded-circle" height="50px" width="50px" ></td>
      <td>{{data.name}}</td>
      <td>{{data.phone}}</td>
      <td>{{data.dob}}</td>
      <td>{{data.email}}</td>
      <td>{{data.city}}</td>
      <td>{{data.area}}</td>
      <td>{{data.sub_area}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

   
</div>






</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>




 {% endblock %}