{% extends 'dashboard/index.html' %}
{%load static%}


{% block body %}


<style>
     .Center {
                    
         margin-left: 300px;
                         
         }
 </style>
                     
 <div class="Center">


<br><br><br><br><br><br>

   <form id="contact-form-mistri" method="POST" action="/update_mistri"  enctype="multipart/form-data">
      {% csrf_token %}
   <input type="text" hidden value="1" name="clint_id" />
    <input type="text" hidden value="{{ user.social_auth.get.uid }}" name="client_uid">

    <div class="controls">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_name">আপনার নাম *</label>
                    <input id="yourname"  type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_lastname">আপনার মোবাইল *</label>
                    <input  id="yourmobilenumber" type="text" name="number" class="form-control" placeholder="Please enter your lastname *" required="required" data-error="Lastname is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_email">আপনি কি কাজ করেন  *</label>
                    <input id="form_email"  name="email" class="form-control" placeholder="Please enter your email *"  data-error="Valid email is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>

           
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_email">আপনার জন্ম তারিখ  *</label>
                    <input  id="dateofbirth" name="dob" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                    <div class="help-block with-errors"></div>
                </div>
                
           
            
            </div>
            
            </div>

        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="form_email">আপনার জন্ম সার্টিফিকেট *</label>
                <!-- <img id="mistri_dob_image" /> -->
                <input type="hidden" id="mistri_dob_image1" name="image" >
            </div>
     
        </div>
        <div class="row">
             <div class="col-md-6">
                <div class="form-group">
                    <label for="form_email">আপনার ঠিকানা  *</label>
                    <input id="form_email"  name="address" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-12">
                <input type="submit" class="btn btn-success btn-send" value="update">
            </div>
        </div>
       
    </div>

</form>

</div>


 <div class="Center">


<form id="contact-form-client" method="post" action="contact.php" role="form">

  

    <div class="controls">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_name">আপনার নাম *</label>
                    <input id="yourname" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_lastname">আপনার মোবাইল *</label>
                    <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname *" required="required" data-error="Lastname is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_email">আপনি কি কাজ করেন  *</label>
                    <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>

           
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_email">আপনার জন্ম তারিখ  *</label>
                    <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                    <div class="help-block with-errors"></div>
                </div>
         
            </div>

           
            
            </div>
        </div>
        <div class="row">
             <div class="col-md-6">
                <div class="form-group">
                    <label for="form_email">আপনার ঠিকানা  *</label>
                    <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-12">
                <input type="submit" class="btn btn-success btn-send" value="update">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-muted">
                    <strong>*</strong> These fields are required. Contact form template by
                    <a href="https://bootstrapious.com/p/how-to-build-a-working-bootstrap-contact-form" target="_blank">Bootstrapious</a>.</p>
            </div>
        </div>
    </div>

</form>

</div>






{% endblock %}