
{%load static%}



{% if user.is_authenticated %}


<!doctype html>
<html>


    <head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link href="{%static 'information.css'%}" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" ></script>
   <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
  <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> 

<script src="https://cdn.jsdelivr.net/gh/js-cookie/js-cookie@1.5.1/src/js.cookie.js"></script> 
<script src="https://cdn.jsdelivr.net/gh/bfontaine/jquery-djangocsrf@0.1.1/jquery.djangocsrf.js"></script> 


   <script src="{%static 'custom.js'%}"></script>
    <title>Welcome to Hello Mistri  </title>
    
    </head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>



  <br><br><br><br>
  <div class="border border-light p-3 mb-4">

     
  <div class="text-center" id="MistriAccountBTN">
      <button type="button" class="btn btn-primary btn-lg btn-block"> Mistri</button>
    </div>
      

  </div>
  

  <br><br>
  <div class="border border-light p-3 mb-4">


    <div class="text-center" id="ClintAccountBTN">
      <button type="button" class="btn btn-primary btn-lg btn-block"> Client </button>
    </div>

  </div>
  
 





<form  id="ClintAccount" method="POST" action="/insert_client"  >
  {% csrf_token %}
  <div class="container" >

    <h1>Please Fill Up Clint information </h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

  
    <input type="text" hidden value="{{ user.social_auth.get.uid }}" name="client_uid">
    <input type="text" hidden value="{{ user.social_auth.get.extra_data.email }}" name="client_email">
 {% for ass in backends.associated %}
    <input type="text" hidden value="{{ass.extra_data.picture.data.url}}" name="client_profile_image_link">
 {% endfor %}

    <label for="Name"><b>আপনার নাম </b></label>
    <input type="text" value="{{ request.user.first_name }} {{ request.user.last_name }}"  name="name" id="email" required>
    
    <label for="email"><b>মোবাইল নাম্বার  </b></label>
    <input class="form-control"  type="number"  placeholder="phone" name="number"  required>
 <br><br>
  <label for="inputlg">আপনার  কোন এরিয়াতে Service  নিতে চান </label>
 <br><br>
 

<!--class="selectpicker" multiple-->
 <label for="cars"> সিটি র্নিবাচন করুন </label><br>
 <select name="city_client" id="city_client">
   <option  selected  disabled hidden>Choose here</option>
 {% for data in city %}
   <option value="{{data.city_name}}" data-id="{{data.id}}">{{data.city_name}}</option>
 {% endfor %}
 </select>
 <br><br>


 <label for="cars">  এরিয়া নির্বাচন করুন  </label><br>
<div>
  <select name="area_client" id="areaGet_client" >
  <option  selected disabled hidden>Choose </option>
 

  
</select>
</div>
 <br><br>



<script>

$(document).ready(function(){


   

  $.djangocsrf( "enable" );
    
  $("#city_client").change(function(){

  
     var control = $(this);
     var id = control.find(":selected").data("id");
     var area_html= "";
     $.ajax({
    
      url:"{% url 'get_cityinformation' %}",
      method:"POST",
      data:{id:id},
      success:function(data)
      {  
      
        $('#areaGet_client').html("");

         for(i=0;i<data.fetch_area.length;i++)
            {
               var   [name,id1] = data.fetch_area[i];
               console.log(name);
                area_html += "<option value='"+name+"' data-id='"+id1+"' >"+name+"</option>";
        
            }      

            $("#areaGet_client").html(area_html);
            $('#areaGet_client').selectpicker('refresh');
        }
     
     });
     
 
    
     
   });

   $("#areaGet_client").html("<option value='data'>hello</option>");

});


</script>



 <label for="cars"> সাব এরিয়া নির্বাচন করুন  </label><br>

 <select name="sub_area_client" id="subArea_client">
 <option  selected disabled hidden>Choose here</option>

    

  </select>
   <br><br>

<script>

$(document).ready(function(){


  $.djangocsrf( "enable" );
    
  $("#areaGet_client").change(function(){

  
     var control = $(this);
     var id = control.find(":selected").data("id");
     var subarea_html= "";
     $.ajax({
    
      url:"{% url 'get_areainformation' %}",
      method:"POST",
      data:{id:id},
      success:function(data)
      {  
        
        $('#subArea_client').html("");

       
         for(i=0;i<data.fetch_subarea.length;i++)
            {
              
              var   [name1,id2] = data.fetch_subarea[i];
               console.log(name);
              subarea_html += "<option value='"+name1+"'>"+name1+"</option>";
        
            }      

           $("#subArea_client").html(subarea_html);
           $('#subArea_client').selectpicker('refresh');
        }
     
     });
     
 
    
     
   });



});


</script>

<br><br>
  


   <label for="inputlg">এলাকা/ ব্লক/ রোড/বাড়ি নাম ও নাম্বার/ ফ্লাট নং </label>
   <input class="form-control input-lg" id="inputlg" name="home_address" type="text" required>
   <br><br>






    <button type="submit" class="registerbtn">Next</button>
  </div>

</form>







<form id="MistriAccount" method="POST" action="/insert_mistri"  enctype="multipart/form-data">
  {% csrf_token %}
 
  <input type="text" hidden value="{{ user.social_auth.get.uid }}" name="mistri_uid">

   <input type="text" hidden value="{{ user.social_auth.get.extra_data.email }}" name="mistri_email">
 {% for ass in backends.associated %}
    <input type="text" hidden value="{{ass.extra_data.picture.data.url}}" name="mistri_profile_image_link">
 {% endfor %}

  <div class="container" >
    <h1>Plese fillup Mistri  information </h1>
    <p>Please fill in this form to create an account.</p>
    <hr>


    <label for="Name"><b>আপনার নাম  </b></label>
    <input type="text" value="{{ request.user.first_name }} {{ request.user.last_name }}"  name="name" id="email" required>
    
    <label for="phone"><b>মোবাইল নাম্বার  </b></label>
    <input class="form-control"  type="number"  placeholder="phone" name="number"  required>

<br><br>
 <label for="inputlg">  আপনি কি কি Service টি দিতে চান </label>
 <br><br>
 
<!--class="selectpicker" multiple-->
 <label for="cars"> সার্ভিস ক্যাটাগরি </label><br>
 <select class="selectpicker"  data-live-search="true"  multiple  name="service" id="serviceGet">
 {% for data in service %}
   <option value="{{data.service_name}}" data-id="{{data.id}}" >{{data.service_name}}</option>
 {% endfor %}
 </select>
 <br><br>
 <label for="cars">  সার্ভিস </label><br>
 <select class="selectpicker"  data-live-search="true"  multiple  name="sub_service" id="subService">

 </select>

<br><br>

<script>

$(document).ready(function(){


   

  $.djangocsrf( "enable" );
    
  $("#serviceGet").change(function(){

  
     var control = $(this);
     var id = control.find(":selected").data("id");
       var sub_service = "";
     $.ajax({
    
      url:"{% url 'fetch_subservice' %}",
      method:"POST",
      data:{id:id},
      success:function(data)
      {  
      
          $("#subService").append("");
           for(i=0;i<data.fetch_subservice.length;i++)
            {
               var   [name,id] = data.fetch_subservice[i];
                sub_service += "<option value='"+name+"' data-id='"+id+"'>"+name+"</option>";      
                
          
            } 

        
       
           $("#subService").append(sub_service);  
           $('#subService').selectpicker('refresh');  
           
        }
     
     });
     
 
    
     
   });



});



</script>




 <label> আপনার দক্ষতা  </label><br>

 <select name="ability" id="cars">
 
    <option value="high_expart">অতি দক্ষ</option>
    <option value="mid_expart">দক্ষ</option>
    <option value="normal_expart"> স্বাভাবিক</option>

  </select>

  
   <br><br>
   <label for="inputlg"> আপনার কাজ ও অভিঞ্জতা সম্পর্কে লিখুন  </label>
   <input class="form-control input-lg" id="inputlg" name="expiriance" type="text" required>




 <br><br>
 <label for="inputlg">  আপনার বর্তমান ঠিকানা </label>
 <br><br>
 <label for="cars"> সিটি র্নিবাচন করুন </label><br>
 <select name="city" id="city">
   <option  selected  disabled hidden>Choose here</option>
 {% for data in city %}
   <option value="{{data.city_name}}" data-id="{{data.id}}">{{data.city_name}}</option>
 {% endfor %}
 </select>
 <br><br>


 <label for="cars">  এরিয়া নির্বাচন করুন  </label><br>
 <select name="area" id="areaGet" >
  <option  selected disabled hidden>Choose here</option>
 
</select>
 
 <br><br>



<script>

$(document).ready(function(){


   

  $.djangocsrf( "enable" );
    
  $("#city").change(function(){

  
     var control = $(this);
     var id = control.find(":selected").data("id");
     var area_html= "";
     $.ajax({
    
      url:"{% url 'get_cityinformation' %}",
      method:"POST",
      data:{id:id},
      success:function(data)
      {  
      
        $('#areaGet').html("");

         for(i=0;i<data.fetch_area.length;i++)
            {
               var   [name,id1] = data.fetch_area[i];
               console.log(name);
                area_html += "<option value='"+name+"' data-id='"+id1+"'>"+name+"</option>";
        
            }      

            $("#areaGet").html(area_html);
            $('#areaGet').selectpicker('refresh');
        }
     
     });
     
 
    
     
   });



});


</script>



 <label for="cars"> সাব এরিয়া নির্বাচন করুন  </label><br>

 <select name="sub_area" id="subArea">
 <option  selected disabled hidden>Choose here</option>

    

  </select>
   <br><br>

<script>

$(document).ready(function(){


  $.djangocsrf( "enable" );
    
  $("#areaGet").change(function(){

  
     var control = $(this);
     var id = control.find(":selected").data("id");
     var subarea_html= "";
     $.ajax({
    
      url:"{% url 'get_areainformation' %}",
      method:"POST",
      data:{id:id},
      success:function(data)
      {  
        
        $('#subArea').html("");

       
         for(i=0;i<data.fetch_subarea.length;i++)
            {
              

               var   [name1,id2] = data.fetch_subarea[i];
               console.log(name);
              subarea_html += "<option value='"+name1+"'>"+name1+"</option>";
        
            }      

           $("#subArea").html(subarea_html);
           $('#subArea').selectpicker('refresh');
        }
     
     });
     
 
    
     
   });



});


</script>




   <label for="inputlg">এলাকা/ ব্লক/ রোড/বাড়ি নাম ও নাম্বার/ ফ্লাট নং </label>
   <input class="form-control input-lg" id="inputlg" name="address" type="text" required>
   <br><br>



    <label for="phone"><b> ইমার্জেন্সি  যোগাযোগের ব্যাক্তি  </b></label>
    
    <br><br>
    
 <select name="emargency" id="cars">

   <option value="পিতা">পিতা</option>
   <option value="মাতা">মাতা</option>
    <option value="স্ত্রী">স্ত্রী</option>
     <option value="ভাই">ভাই</option>
      <option value="বোন">বোন</option>

 </select>
  <br><br>
    <label for="phone"><b> ইমার্জেন্সি ব্যাক্তির  নাম </b></label>
    <input type="text" placeholder="phone" name="emargency_name" id="email" required>
    <br>
     <label for="phone"><b> ইমার্জেন্সি  ব্যাক্তির নাম্বার  </b></label>
       <input class="form-control"  type="number" placeholder="phone" name="emargency_number" id="email" required>
     <br><br>
      <label class="form-label" for="customFile"> আইডি কার্ডের ছবি আপলোড   </label>
    <input type="file" class="form-control" name="image" id="customFile" required />

<br><br>
    <label class="form-label" for="customFile">জন্ম তারিখ </label>
    <input type="date" class="form-control" id="customFile"  name="dob" required />
<br><br>
  <label for="inputlg"> শিক্ষাগত যোগ্যতা/ কোর্স বা কারিগরিশিক্ষার নাম, মেয়াদ ও প্রতিষ্ঠানের নাম </label>
   <input class="form-control input-lg" id="inputlg" name="education" type="text" required>
<br><br>


 <label ><b> আপনার বাইক আছে কিনা?  </b></label>
    
    <br><br>
  <select name="is_bike" id="cars">

   <option value="yes">হ্যা</option>
   <option value="no">না</option>

   </select>
   <br><br>

  <br><br> 
   <label ><b> আপনার কাজের সরঞ্জাম বা যন্ত্রপাতি আছে কিনা?  </b></label>
    
    <br><br>
    <select name="is_instrument" id="cars">

   <option value="yes">হ্যা</option>
   <option value="no">না</option>

   </select>
   <br><br>

  <label for="inputlg"> আপনার সহযোগী মিস্ত্রি ও হেল্পারদের নাম ও মোবাইল নং লিখুন  </label>
   <input class="form-control input-lg" placeholder="অন্তত ৫ জন" id="inputlg" name="helper_mistri" type="text" required>


  
 <button type="submit" class="registerbtn">Next</button>

</form>




</body>
</html>


<script>
 
 $(document).ready(function(){
   $('select').selectpicker();
 })

</script>
        <!-- <meta http-equiv="refresh" content="0; URL={% url 'dashboard' %}" /> -->
     

{% endif %}

<script>


  $(document).ready(function(){
   
    {% for evarage in client_data%}

         
       
            {%if user.social_auth.get.uid == evarage.uid %}
               
                $(location).attr('href',"{% url 'dashboard' %}");

              

            {% endif %}

    
    
            
     {% endfor %}  

     {% for evarage in  mistri_data%}

       {% if evarage.uid == "" %}
            
            $("body").show();

          {% else %}
       
            {%if user.social_auth.get.uid == evarage.uid %}
               
                $(location).attr('href',"{% url 'dashboard' %}");

              

            {% endif %}

       {% endif %}
    
            
     {% endfor %} 
  
  
  });


  </script>




<!-- nondini.dasgupta -->